<h2 class="title">Financial Overview</h2>
<div class="toolbar">
  <div class="account--info">
    <div class="current-acc">
      <img src="assets/images/profile-photo.jpg" />
      <div class="account--info__text">
        <div class="current-acc--title">Current account</div>
        <div class="account--number blue-text">1234 56678 89056</div>
      </div>
    </div>
    <div class="funds">
      <div class="number current-acc--title">12,340.000,00 RSD</div>
      <p class="balance blue-text">Aavailable balance</p>
    </div>
  </div>
  <div class="navigation">
    <div class="transaction--type">
      <div class="nav-tab active">Excluded</div>
      <div class="nav-tab">Rejected</div>
      <div class="nav-tab">Future</div>
      <div class="nav-tab">Draft</div>
      <div class="nav-tab">Pending</div>
    </div>
    <div class="view">
      <p class="chose-view">Choose View:</p>
      <div class="view--tab">
        <span class="material-symbols-outlined"> list </span>
      </div>
      <div class="view--tab">
        <span class="material-symbols-outlined"> space_dashboard </span>
      </div>
      <div class="view--tab">
        <span class="material-symbols-outlined"> calendar_month </span>
      </div>
      <div class="view--tab">
        <span class="material-symbols-outlined"> bid_landscape </span>
      </div>
      <div class="view--tab">
        <span class="material-symbols-outlined"> language </span>
      </div>
      <div class="view--tab">
        <span class="material-symbols-outlined"> target </span>
      </div>
      <div class="view--tab">
        <span class="material-symbols-outlined"> bar_chart </span>
      </div>
    </div>
    
  </div>
</div>
