
$primary-color: #4dc6e3;
$primary-color-light: #aae0f6;

$secondary-color: #06164d;
$accent-color: #6f941d;
$accent-color-orange:#ff5e01; 
$background-color: #ecece4;
$bg-white:#ffffff;  
$bg-gray:#f6f9f3;
$text-color: #9fa4a7;
$dark-gray:#646564;

$prmary-font: 'Roboto', sans-serif;
$secondary-font: 'Montserrat', sans-serif;