<div class="app-container">
    <app-navigation></app-navigation>
    <div class="content">
      <app-toolbar></app-toolbar>
      <main>
        <div class="main--screen">
          <app-financial-overview></app-financial-overview>
          <app-transactions-list [filterData]="filterData"></app-transactions-list>
        </div>
        <div class="aside">
          <app-filters
            (filtersApplied)="onFiltersApplied($event)"
            (filtersCleared)="onFiltersCleared()">
          </app-filters>
        </div>
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
  