.app-container{
    display: flex;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
}

main{
    display: flex;
    justify-content: space-between;
    margin: 50px 30px;
}

.main--screen{
    width: 72%;
}

.aside{
    margin-top: 35px;
}