@import "../../styles/variables.scss";

li {
  list-style: none;
}

.page-menu {
  color: $primary-color;
  font-size: 18px;
  padding-bottom: 40px;
}

.menu-option {
  padding: 5px;
  background: $bg-white;
  margin-bottom: 10px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;

}

.material-symbols-outlined {
  transform: translate(0, 5px);
  margin-right: 10px;
}

.active {
  background: $primary-color;
  color: $bg-white;
}

.active::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  border: solid transparent;
  border-width: 5px;
  border-right-color: $primary-color;
}

.filters {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 1px solid $dark-gray;
}

.filter--title {
  color: $primary-color;
  font-weight: bold;
  border-bottom: 4px solid $primary-color;
  width: 75%;
  font-size: 14px;
}

.filter-container {
  border-top: 2px solid $primary-color;
  padding-top: 10px;
  margin-bottom: 15px;
}

.filter--date {
  font-size: 14px;
  
}

.filter--date__input {
  margin-top: 5px;
  width: 100%;
}

.date-picker {
  width: 100%;
  
}

.date-picker-input {
  border: 2px solid gainsboro;
  border-radius: 2px;
  width: 100%;
  padding: 5px;
  background: $background-color;
  color: $primary-color;
  font-weight: 400;
  cursor: pointer;

}

.select {
  background: $primary-color;
  color: $bg-white;
  padding: 6px;
  text-transform: capitalize;
  border: none;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 3px;
  font-weight: 400;
  cursor: pointer;

}

.search-field {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;

  }
  
  .search-input {
    width: 100%;
    padding: 6px;
    font-weight: 400;
    padding-right: 30px; /* To make room for the search icon */
    border: 1px solid #ccc;
    border-radius: 2px;
    text-transform: capitalize;
    font-size: 14px;
    color: #ccc;
    background: $background-color;
  }
  
  .search-icon {
    position: absolute;
    right: 0;
    transform: translate(0, 0);
    pointer-events: none;
    color: $primary-color;
  }

  .filter--button{
    display: block;
    width: 100%;
    color: $bg-white;
    background: $primary-color;
    border: none;
    padding: 4px 0px;
    margin: 20px 0;
    border-radius: 2px;
    cursor: pointer;

  }

    .green{
        background: $accent-color;
    }