<nav class="main-navigation">
    <div>
      <div class="logo">
        <img src="/assets/images/telenor-banka-logo.webp" alt="logo" />
      </div>
      <ul>
        <li>
          <a href="#">
            <div class="nav-item">
              <div class="image-container"><img src="/assets/images/home.png" alt="Home"></div>
              <span>Home</span>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="nav-item">
              <div class="image-container"><img src="/assets/images/accounts.png" alt="My Accounts"></div>
              <span>My Accounts</span>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="nav-item">
              <div class="image-container"><img src="/assets/images/payments.png" alt="Payments"></div>
              <span>Payments</span>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="nav-item">
              <div class="image-container"><img src="/assets/images/cards.png" alt="Cards"></div>
              <span>Cards</span>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="nav-item">
              <div class="image-container"><img src="/assets/images/exchange.png" alt="Currency Exchange"></div>
              <span>Currency Exchange</span>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="nav-item">
              <div class="image-container"><img src="/assets/images/catalogue.png" alt="Product Catalogue"></div>
              <span>Product Catalogue</span>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="nav-item">
              <div class="image-container active"><img src="/assets/images/payments.png" alt="PFM"></div>
              <span>PFM</span>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="nav-item">
              <div class="image-container"><img src="/assets/images/selfcare.png" alt="Self Care"></div>
              <span>Self Care</span>
            </div>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="nav-item">
              <div class="image-container"><img src="/assets/images/support.png" alt="Support"></div>
              <span>Support</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
        <button class="logout-button">
          <span class="material-symbols-outlined">
            cancel
            </span>
          Logout
        </button>
    </nav>
